:root {
  font-family: arial;
}

header, table {
  margin: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

th {
  font-weight: bold;
  text-align:center;
}