:root {
  font-family: arial;
}

header {
  margin: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-block, .footer-block {
  background-color: navy;
  color: white;
}

#loading-blocker {

  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

